PORT=8080
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/placetrack
JWT_SECRET=your-jwt-secret-change-in-production
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173

CLOUD_NAME=your-cloud-name
CLOUD_API_KEY=your-cloud-api-key
CLOUD_API_SECERT=your-cloud-api-secret

GOOGLE_CLIENT_ID=your-google-client-id
